<%= form_with(model: plant, class: "contents") do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul class="list-disc ml-6">
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": plant.errors[:name].none?, "border-red-400 focus:outline-red-600": plant.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :species %>
    <%= form.text_field :species, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": plant.errors[:species].none?, "border-red-400 focus:outline-red-600": plant.errors[:species].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :purchased_at %>
    <%= form.date_field :purchased_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": plant.errors[:purchased_at].none?, "border-red-400 focus:outline-red-600": plant.errors[:purchased_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :died_at %>
    <%= form.date_field :died_at, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": plant.errors[:died_at].none?, "border-red-400 focus:outline-red-600": plant.errors[:died_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
